.btn-resume {
  width: fit-content;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: var(--clr-btn);
  border-radius: var(--radius-primary);
  z-index: var(--z-btn);
}

.btn-resume:hover {
  color: var(--clr-primary);
  background-color: var(--clr-hover);
  box-shadow: 0px 0px 10px var(--clr-hover);
}

.btn-resume:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(217, 243, 250, 0.375) 15%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 5em);
}

.btn-resume::after,
.btn-resume:focus::after {
  animation: btn-resume-animation 2.5s forwards infinite;
}

@keyframes btn-resume-animation {
  0% {
    transform: rotateZ(60deg) translate(-5em, 20em);
  }
  100% {
    transform: rotateZ(60deg) translate(1em, -20em);
  }
}

@media screen and (max-width: 768px) {
  .btn-resume {
    font-size: 12px;
  }
}
