.project-card {
  color: var(--font-color);
  font-size: 14px;
  text-decoration: none;
  background-color: var(--btn-color);
  border-radius: 15px;
}

.project-card:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 0px 10px var(--hover-color);
}

.project-card:hover h3,
.project-card:hover .project-desc {
  color: var(--bg-color);
}
