.learn-more {
  color: var(--text-color);
  background-color: var(--btn-color);
  text-decoration: none;
  font-size: 14px;
  border-radius: 15px;
}

.learn-more:hover {
  color: var(--bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 0px 10px var(--hover-color);
}

@media screen and (max-width: 768px) {
  .learn-more {
    font-size: 12px;
  }
}
