.skill-icon {
  width: fit-content;
  background-color: var(--clr-btn);
  border-radius: var(--radius-primary);
}

.skill-icon:hover {
  background-color: var(--clr-hover);
  box-shadow: 0px 0px 10px var(--clr-hover);
}
