.deloitte {
  font-weight: bold;
  color: var(--clr-hover);
}

.deloitte:hover {
  color: #86bc25;
  text-shadow: 0px 0px 10px #86bc25;
}

.uom-logo {
  width: 200px;
}

@media screen and (max-width: 1200px) {
  .uom-logo {
    width: 175px;
  }
}

@media screen and (max-width: 768px) {
  .uom-logo {
    width: 150px;
  }
}
