.back-to-home {
  color: var(--font-color);
  background-color: var(--btn-color);
  font-size: 14px;
  border-radius: 15px;
}

.back-to-home:hover {
  color: var(--bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 0px 10px var(--hover-color);
}

@media screen and (max-width: 768px) {
  .back-to-home {
    font-size: 12px;
  }
}
