.back-to-home {
  color: var(--clr-secondary);
  background-color: var(--clr-btn);
  font-size: 14px;
  border-radius: var(--radius-primary);
}

.back-to-home:hover {
  color: var(--clr-primary);
  background-color: var(--clr-hover);
  box-shadow: 0px 0px 10px var(--clr-hover);
}

@media screen and (max-width: 768px) {
  .back-to-home {
    font-size: 12px;
  }
}
