.course {
  font-size: 14px;
  color: var(--hover-color);
  background-color: var(--btn-color);
}

.visit-ai {
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--btn-color);
  text-decoration: none;
  border-radius: 15px;
}

.visit-ai:hover {
  color: var(--bg-color);
  background-color: var(--hover-color);
  box-shadow: 0px 0px 10px var(--hover-color);
}

@media screen and (max-width: 768px) {
  .course {
    font-size: 11px;
  }

  .visit-ai {
    font-size: 12px;
  }
}
